.navbar {
  background-color: #fff;
  padding: 1em;
}

.navbarList {
  display: flex;
  justify-content: space-around;
}

.navbarItem {
  color: black;
}

.navbarItem:hover {
  text-decoration: underline;
}
